.douban-list ul li {
	width: 80px;
	float: left;
	list-style: none outside none;
}

.douban-list ul li img {
	width: 70px;
	height: 100px;
	border: solid 1px #DDD;
}

.douban-title
{
	color: #005580;
	margin-top: 28px;
	margin-bottom:20px;
	border-left: solid 5px #005580;
	padding-left: 15px;
}
.clear
{
		clear:both;
}
/**
	douban booklist 
**/

#search-form
{
	width:200px;
	float:left;
	padding-top:10px;
}

.navbar-nav>li>.rss
{
	background:url(/assets/themes/yhawaii/images/rss_icon.png) no-repeat center;
}
.navbar-nav>li>.github
{
	background:url(/assets/themes/yhawaii/images/github_icon.png) no-repeat center;
}
.navbar-nav>li>.weibo
{
	background:url(/assets/themes/yhawaii/images/weibo_icon.png) no-repeat center;
}

#navbar
{
	position:inherit;
	margin-bottom:0px;
}

.navbar-nav>li
{
	padding-right: 20px;
}

.content
{
}
#yhawaiiPost
{
	margin-top: 90px;
}
.row
{
	margin-left: 20px;
}
.container
{
	padding-top: 0px;
	
}


/* 
	rightarea
 */
#rightarea
{
	margin-top: 90px;
}
#tagCls
{
	display:inline !important;
}
/** 
    --------------toc -------------------
*/
#toc * {
    font-size: 12px;
}

#toc { 
    width: 200px; 
    overflow: hidden;
    transition: all 0.3s;
    border: 1px solid rgba(0,0,0,0.067);
    border-radius: 5px;
    box-shadow: 1px 2px 3px rgba(0,0,0,0.067);
    padding: 0px 5px;
    margin: 5px 0px;
}

#toc a { 
    color: #005580; 
    text-decoration: none; 
    border-bottom: 1px dashed #ccc; 
    display: block;
}

#toc a:hover { 
    color: #0f65b8; 
    text-decoration: underline; 
    border-bottom: 0px; 
}

.hideCls
{
	opacity:0.3;
}

.showCls
{
	opacity:1.0;
	background: rgb(248, 248, 248);
	margin-top: 50px;
}

#toc ul { 
    margin-left: 10px;
    list-style : none;

    /* fix it on webkit */
    -webkit-padding-start: 0px;

    /* fix it on Gecko */
    padding-left : 0px;
}
#toc li
{
    margin-top: 10px;
}

#toc .h2 { padding-left : 0em; }
#toc .h3 { padding-left : 1em; }
#toc .h4 { padding-left : 2em; }
#toc .h5 { padding-left : 3em; }
#toc .h6 { padding-left : 4em; }

#toc .bolder { 
    font-weight: bolder; 
    border-bottom: 1px solid rgba(0,0,0,0.067);
}
